/*START section PORTFOLIO*/
.portfolio{
   padding: 0px 15px;
}
.portfolio__wrap{
   margin-bottom: 50px;
}
.portfolio__nav__list{
   justify-content: center;
}
.btn{
   margin: 6px 22px;
}
.portfolio__nav__item{
   margin-left: 8px;
}
.border_item{
   padding: 20px 24px 20px 24px;
   border-left: 1px solid var(--item_color);
   border-bottom: 1px solid var(--item_color);
   border-right:1px solid var(--item_color);
}
.projects__item h4 {
   color: var(--four-color);
   font-size: 18px;
   line-height: 36px;
}
.projects__item p{
   margin-top: 4px;
   color: var(--main-color);
   font-size: 16px;
   line-height: 30px;
}
.projects__item:hover{
   box-shadow: var(--projects_shadow);
   cursor: pointer;
}
.projects__item:hover .box_overlay{
   transform: translatey(0);
}
.projects__wrap__list{
   flex-wrap: wrap;
   align-content: space-between;
   gap: 30px;
}

.portfolio_box{
   position: relative;
   width: 370px;
   height: 294px;
   overflow: hidden;
}

.box_overlay{
   background: var(--box_overlay);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: translatey(+100%);
   transition: transform 250ms ease;
   padding: 49px 45px 49px 24px;
}
.box_overlay p{
   color:var(--third-color);
}