/*START section FOOTER*/
footer{
   background-color: var(--footer-bg_color);
}
.footer{
   padding-top: 60px;
   padding-bottom: 60px;
   color: var(--third-color);
   display: flex;
   line-height: 24px;
   font-size: 14px;
}
.footer__logo{
   margin-bottom: 20px;
}
.footer__logo a{
   color: var(--third-color);
}
.footer__contacts{
   margin-top: 9px;
   margin-left: 0;
}
.menu_contacts_footer a{
   color: var(--sixth-color);
}



.contacts__social{
   margin-left: 70px;
   margin-right: 78px;
}
.contacts__social__title{
   text-transform: uppercase;
}
.contacts__social__list{
   margin-top: 20px;
}
.footer__social__link{
   display: flex;
   width: 44px;
   height: 44px;
   background-color: var(--social-link);
   border-radius: 50%;
   align-items: center;
   justify-content: center;
   transition: all 250ms linear;
   fill: var(--third-color);
   margin-right: 10px;
}
.footer__social__link:hover{
   fill:var(--third-color);
   background-color: var(--secondary-color);
 }
 /*FOOTER_FORM*/

 .footer__header{
   margin-bottom: 20px;
   font-weight: 700;
   line-height: 1.42;
   text-transform: uppercase;
   color: var(--third-color);
 }
 .footer__form {
   font-weight: 700;
   line-height: 1.42;
   text-transform: uppercase;
   color: var(--third-color);
 }
 .footer .button {
   position: relative;
   padding-right: 34px;
 }
 .footer__form__icon {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 28px;
   fill: var(--third-color);
 }
 
 .footer__form__input {
   width: 358px;
   height: 50px;
   padding: 16px;
   margin-right: 12px;
   background-color: transparent;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   font-size: 16px;
   line-height: 1.25;
   letter-spacing: 0.03em;
   color: var(--footer_form);
 }
 .footer__form__input:focus {
   outline: none;
   border-color: var(--secondary-color);
 }