.button{
   border: none;
   cursor: pointer;
   color: var(--third-color);
   background: var(--secondary-color);
   border-radius: 4px;
   font-size: 16px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0.06em;
}
.main_button_link{
   display: block;
   margin: 10px 40px;
   font-size: 16px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0.06em;
}
.button:hover{
   background-color: var(--secondary-color);
   color: var(--third-color);
   box-shadow:0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn_blue{
   color: var(--third-color);
   background-color: var(--secondary-color);
}
.modal_btn{
   display: block;
   padding: 10px 76px ;
   margin: 0px auto;

}
.modal_btn .main_button_link{
   margin: 0;
}