:root {
   --main-font: 'Roboto', sans-serif;
   --secondary-font: 'Raleway', sans-serif;
   --main-color: #757575;
   --secondary-color: #2196f3;
   --third-color: #fff;
   --four-color: #212121;
   --footer-bg_color: #2f303a;
   --social-link:#FFFFFF1A;
   --sixth-color: rgba(255, 255, 255, 0.6);
   --seventh-color: #F5F4FA;
   --header-color: #ECECEC;
   --footer_form:rgba(255, 255, 255, 0.6);
   --shadow-color: rgba(0, 0, 0, 0.15);
   --team-shadow-color: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
   0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
   --button-shadow-color: rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   --bg-overlay: rgba(47, 48, 58, 0.4);  
   --social-icon: #AFB1B8;
   --footer-socials-icon__bg: rgba(255, 255, 255, 0.1); 
   --image-bg: rgba(47, 48, 58, 0.8);
   --box_overlay:rgba(33, 150, 243, 0.9);
   --item_color:#EEEEEE;
   --modal-shadow:rgba(33, 33, 33, 0.2);
   --projects_shadow:0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}